.my-title {
    color: #383838;
    font-family: Poppins;
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 1.4px;
}

.subtitle {
    color: #383838;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
}

.my-primary-color {
    color: #4900ff !important;
}

.border-my-primary {
    border-color: #4900ff !important;
}

.my-small-text {
    font-size: 16px;
}

.my-btn {
    height: 48px;
    font-size: 18px;
    transition: transform 0.2s ease, color 0.2s ease;
}
.my-btn:hover {
    transform: scale(1.05);
    color: #9e78ff;
}